<!-- <div class="row header">
  <div class="pull-left"><img src="assets/logo.png" /></div>
  <div class="pull-right" style="margin-top:15px;">
  <ul class="nav-pills unstyled" >
      <li>余额: <span class="label label-info"><%=current_user.credit%></span>&nbsp;</li>
      <li>佣金: <span class="label label-info"><%=current_user.commission%></span>&nbsp;</li>
      <li class=""><i class="icon-star"></i>欢迎你,<%=current_user.name%></a></li>
      <li class=""><a href="<%=signout_path%>"><i class="icon-off"></i>退出</a></li>
    </ul>  
  </div>
</div> -->
<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">80平台</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <%=current_user.name%> <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">余额:<%=current_user.credit%></a></li>
                                    <li><a tabindex="-1" href="#">余额:<%=current_user.credit%></a></li>
                                    <li class="divider"></li>
                                    <li data-no-turbolink><a tabindex="-1" href="<%=signout_path%>">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>