      <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li class="<%="#{cp(new_phone_path)}"%>"><a href="<%=new_phone_path%>"><i class="icon-chevron-right"></i>话费缴费</a>
      </li>
      <li class="<%="#{cp(phones_path)}"%>"><a href="<%=phones_path%>"><i class="icon-chevron-right"></i>话费缴费历史查询</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>Q币业务</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>游戏业务</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>游戏缴费历史查询</a></li>
      <li class="<%="#{cp(new_charge_path)}"%>"><a href="<%=new_charge_path%>"><i class="icon-chevron-right"></i>存款提交</a></li>
      <li class="<%="#{cp(charges_path)}"%>"><a href="<%=charges_path%>"><i class="icon-chevron-right"></i>存款历史记录</a></li>
      <li><a href="<%=credits_path%>"><i class="icon-chevron-right"></i>佣金余额</a></li>
      <li class="<%="#{cp(fundslogs_path)}"%>"><a href="<%=fundslogs_path%>"><i class="icon-chevron-right"></i>我的资金日志</a></li>
      <li class="<%="#{cp(edit_user_path current_user)}"%>"><a href="<%=edit_user_path current_user%>"><i class="icon-chevron-right"></i>密码管理</a></li>
      </ul>
