<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
      <li class="<%="#{cp(admin_users_path)}"%>"><a href="<%=admin_users_path%>"><i class="icon-chevron-right"></i>代理商资料</a></li>
      <li class="<%="#{cp(admin_channels_path)}"%>"><a href="<%=admin_channels_path%>"><i class="icon-chevron-right"></i>通道设置</a></li>
      <li><a href="<%=admin_channelgroups_path%>"><i class="icon-chevron-right"></i>通道分组设置</a></li>
      <li class="<%="#{cp(admin_workids_path)}"%>"><a href="<%=admin_workids_path%>"><i class="icon-chevron-right"></i>工号设置</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>游戏通道设置</a></li>
      <li class="<%="#{cp(admin_prices_path)}"%>">
        <a href="<%=admin_prices_path%>"><i class="icon-chevron-right"></i>代理商充值价格管理</a>
      </li>
      <li><a href="#"><i class="icon-chevron-right"></i>游戏充值进价管理</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>订单页面查询</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>游戏订单查询</a></li>
      <li class="<%="#{cp(admin_charges_path)}"%>">
        <a href="<%=admin_charges_path%>"><i class="icon-chevron-right"></i>存款请求处理</a>
      </li>
      <li><a href="#"><i class="icon-chevron-right"></i>代理商资金动向</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>代理商加/扣款</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>通道充值成功失败笔数统计</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>代理商充值统计</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>充值工号充值统计</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>代理商年充值总额，运营商年充值总额</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>用户每月增减量</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>公告管理</a></li>
      <li><a href="#"><i class="icon-chevron-right"></i>业务员管理</a></li>
</ul>


