<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>80平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <%= render :partial => 'shared/header' %>
        <section role="main">
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <%= render :partial => 'shared/left' %>
                </div>
                <div class="large-9 medium-8  columns">
                  <%= yield %>
                </div>
            </div>
        </section>
      </div>
    </div>


</body>
</html>
