<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>80平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'shared/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="sidebar">
      <%= render :partial => 'shared/left' %>
    </div>
    <div class="span9" id="content">
      <div class="row-fluid">
        <!-- <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Success</h4>The operation completed successfully
          </div> -->
        <div class="navbar">
<!--        <div class="navbar-inner">
               <ul class="breadcrumb">
                     <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                     <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                     <li><a href="#">话费缴费</a> <span class="divider">/</span></li>
                     </li><li class="active">提交</li>
               </ul>
         </div> -->
          <div class="block">
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left"><%= form_title %></div>
            </div>
            <div class="block-content collapse in">
              <div class="span12">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<footer>
  <span>Copyright© 2013 武汉雷骏风驰科技有限公司版权所有</span>
  <span class="pull-right">鄂ICP备13007048号 </span>
</footer>
</div>
</body>
</html>
